.projectsContainer {
    padding: 2rem;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #fff;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #f56fa1;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}